.services {
    position: relative;
    direction: rtl;
    background: var(--primary-color);
    min-height: 100vh;
    overflow: hidden;
    padding-top: clamp(200px, 16vw, 260px);
    padding-bottom: 120px;
    padding-inline: 4%;
    z-index: 2;
    margin: 0 auto;
    clip-path: polygon(0 0, 100% clamp(450px, 35vw, 650px), 100% 100%, 0 100%);
    will-change: transform;
}

.services__container {
    position: relative;
    z-index: 2;
    max-width: 1250px;
    margin: 0 auto;
    width: 100%;
}

/* =========================
   Title (Centered over the 1st card on the Left)
========================= */

.services__title {
    font-size: 44px;
    font-weight: 700;
    margin-top: 100px;
    width: 63%;
    text-align: end;
}

/* =========================
   Grid
========================= */

.services__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
        ". card1"
        "card2 card3"
        "card4 card5";
    gap: 90px 80px;
}

/* Map cards to grid areas */
.service-card:nth-child(1) {
    grid-area: card1;
}

.service-card:nth-child(2) {
    grid-area: card2;
}

.service-card:nth-child(3) {
    grid-area: card3;
}

.service-card:nth-child(4) {
    grid-area: card4;
}

.service-card:nth-child(5) {
    grid-area: card5;
}





/* =========================
   Card
========================= */

.service-card {

    display: flex;

    flex-direction: column;

    align-items: start;

    text-align: start;

    position: relative;

}



/* =========================
   Image
========================= */

.service-card__image {
    /* 
    width: 220px;

    height: 200px; */

    object-fit: contain;

    margin-bottom: 25px;


}




/* =========================
   Content
========================= */

.service-card__content {

    display: flex;

    flex-direction: column;

    align-items: start;
    gap: 15px;
    /* 
    max-width: 430px; */

}



/* Badge */

.service-card__badge {

    font-size: clamp(14px, 2vw, 18px);
    font-weight: 900;

}



/* Heading */

.service-card h3 {

    font-size: 32px;
    font-weight: 900;

}



/* Description */

.service-card__description {

    display: flex;

    flex-direction: column;

    gap: 8px;

}



.service-card__description p {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 400;
}

.service-card__description p span {
    font-weight: 700;
}



.service-card__link {

    margin-top:25px;

    display:flex;

    align-items:center;

    gap:10px;

    text-decoration:none;

    font-size:20px;

    font-weight:400;

    direction:rtl;

    transition:.4s ease;

}



/* Default */

.service-card__link span {

    order:2;

    transition:.4s ease;

}



/* Hover */

.service-card__link:hover span {

    order:0;

}
.service-card__link span {
    transition: transform .4s ease;
}


.service-card__link:hover span {
    transform:translateX(-5px);
}

.services__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding-top: 50px;

}


.services__button {
    position: relative;

    width: fit-content;
    min-height: 58px;

    display: flex;
    align-items: center;
    justify-content: center;


    padding: 15px 25px 12px 55px;

    border: 1px solid var(--secondary-color);
    border-radius: 48px;

    background-color: transparent;

    color: var(--secondary-color);

    font-family: inherit;
    font-size: 20px;
    font-weight: 500;

    white-space: nowrap;

    cursor: pointer;

    overflow: hidden;

    transition:
        padding 0.6s cubic-bezier(0.22, 1, 0.36, 1),
        background-color 0.6s ease,
        color 0.3s ease;
}



.services__button::before {
    content: "←";

    position: absolute;

    top: 50%;
    right: 18px;

    font-size: 27px;
    line-height: 1;

    opacity: 0;

    transform:
        translateY(-50%) translateX(18px);

    transition:
        opacity 0.3s ease,
        transform 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}


/* =========================
   Initial LEFT Arrow
========================= */

.services__button::after {
    content: "←";

    position: absolute;

    top: 50%;
    left: 18px;

    font-size: 27px;
    line-height: 1;

    opacity: 1;

    transform:
        translateY(-50%) translateX(0);

    transition:
        opacity 0.25s ease,
        transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);

}


/* =========================
   Button Hover
========================= */

.services__button:hover {
    /*
    Arrow moves to RIGHT,
    so padding shifts from left to right
  */
    padding-right: 55px;
    padding-left: 22px;
    background-color: var(--secondary-color);
    color: #ffffff;
    border-radius: 12px;
}


/* Hide Left Arrow */

.services__button:hover::after {
    opacity: 0;

    transform:
        translateY(-50%) translateX(-18px);
}


/* Show Right Arrow */

.services__button:hover::before {
    opacity: 1;

    transform:
        translateY(-50%) translateX(0);
}

/* =========================
   Responsive
========================= */

@media(max-width: 900px) {
    .services {
        padding-top: 130px;
        padding-bottom: 80px;
        padding-inline: 20px;
        clip-path: polygon(0 0, 100% clamp(150px, 15vw, 150px), 100% 100%, 0 100%);
    }

    .services__title {
        width: 100%;
        margin: 0 auto 40px;
        text-align: center;
        font-size: 32px;
    }

    .services__grid {
        grid-template-columns: 1fr;
        grid-template-areas: none;
        gap: 60px;
    }

    .service-card {
        grid-area: auto !important;
    }

    .service-card__image {
        width: 300px;
        height: auto;
    }

    .service-card h3 {
        font-size: 22px;
    }
}