.stats-section {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.stats-counter {
    position: absolute;
    z-index: 5;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    width: 90%;
    max-width: 1200px;
    margin-top: -120px;
    padding: 22px 0 26px;
    overflow: hidden;
    border-radius: 28px;
    background: linear-gradient(180deg,
            rgba(255, 252, 244, 0.9) 0%,
            rgba(255, 252, 244, 0.72) 45%,
            rgba(129, 73, 173, 0.55) 100%);
    backdrop-filter: blur(82.4px);
    -webkit-backdrop-filter: blur(82.4px);
}

.stats-counter::before {
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    padding: 2px;
    border-radius: inherit;
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0) 0%,
            #ffffff 100%);
    pointer-events: none;
    -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}

.stats-counter__item {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.stats-counter__item:not(:last-child) {
    border-right: 0.9px solid #ffffffe3;
}

.stats-counter__value {
    color: var(--dark-color);
    font-size: clamp(60px, 7vw, 64px);
    font-weight: 700;
}

.stats-counter__label {
    margin: 0;
    color: var(--black-color);
    font-size: 15px;
    font-weight: 400;
    direction: rtl;
}


/* START OF RESPONSIVE */
@media (max-width: 991px) {
    .stats-counter {
        grid-template-columns: repeat(2, 1fr);
        margin-top: -75px;
        padding: 15px;
    }

    .stats-counter__item {
        min-height: 105px;
    }

    .stats-counter__item:not(:last-child) {
        border: none;
    }
}

@media (max-width: 600px) {
    .stats-section {
        margin-top: 80px;
    }

    .stats-counter {
        width: calc(100% - 32px);
        margin-top: -65px;
        padding: 12px;
        border-radius: 20px;
    }

    .stats-counter__item {
        min-height: 95px;
    }

    .stats-counter__value {
        font-size: 44px;
    }

    .stats-counter__label {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .stats-counter__value {
        font-size: 38px;
    }

    .stats-counter__label {
        font-size: 10px;
    }
}