/* =========================
   Side Menu Wrapper
========================= */

.side-menu-wrapper {
  position: relative;

  width: 150px;
  /* height: 32px; */

  display: flex;
  align-items: center;

  z-index: 1000;
}


/* =========================
   Side Menu
========================= */

.side-menu {
  position: absolute;

  top: -16px;
  right: -15px;

  width: 150px;

  padding: 0;

  box-sizing: border-box;

  border-radius: 12px;

  background-color: transparent;

  overflow: hidden;

  z-index: 1000;

  transform-origin: top right;

  transition:
    width 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    padding 0.4s cubic-bezier(0.22, 1, 0.36, 1),
    background-color 0.3s ease,
    box-shadow 0.3s ease;
}


/* =========================
   Open Menu
========================= */

.side-menu--open {
  width: 295px;

  padding: 20px 20px 12px;

  background-color: var(--foreground-color);

  box-shadow: 0 8px 30px rgb(0 0 0 / 5%);
}

/* =========================
   Menu Trigger
========================= */

.nav-menu {
  position: relative;

  width: fit-content;

  display: flex;
  align-items: center;

  margin-left: auto;

  /* direction: rtl; */

  cursor: pointer;

  z-index: 1000;
}



/* =========================
   Menu Icon
========================= */

.nav-menu__icon {
  position: relative;
  right: 20px;

  width: 35px;
  height: 35px;

  display: block;

  flex-shrink: 0;

  transform: rotate(180deg);

  transition:
    right 0.35s ease,
    transform 0.35s ease;
}


/* Menu icon while hover/open */

.nav-menu:hover .nav-menu__icon,
.side-menu--open .nav-menu__icon {
  right: -5px;

  transform: rotate(-45deg);
}


/* =========================
   Menu Title
========================= */

.nav-menu__title {
  position: absolute;
  right: 35px;
  top: 0;
  font-weight: 700;
  font-size: clamp(20px, 3vw, 28px);

  margin: 0;

  color: var(--dark-color);


  white-space: nowrap;

  z-index: 2;
}

/* =========================
   Menu Body
========================= */

.side-menu__body {
  width: 100%;

  margin-top: 25px;

  overflow: hidden;
}


/* =========================
   Menu Views
========================= */

.side-menu__view {
  width: 100%;
}


/* Main Menu enters from right */

.side-menu__view--main {
  animation: menu-from-right 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}


/* Services enters from left */

.side-menu__view--services {
  animation: menu-from-left 0.35s cubic-bezier(0.22, 1, 0.36, 1);
}


/* =========================
   View Animations
========================= */

@keyframes menu-from-left {
  from {
    opacity: 0;

    transform: translateX(-100px);
  }

  to {
    opacity: 1;

    transform: translateX(0);
  }
}


@keyframes menu-from-right {
  from {
    opacity: 0;

    transform: translateX(45px);
  }

  to {
    opacity: 1;

    transform: translateX(0);
  }
}


/* =========================
   Menu Content
========================= */

.side-menu__content {
  width: 100%;

  display: flex;
  flex-direction: column;

  /* direction: rtl; */
}

.side-menu__back {
  margin-left: auto;
  margin-bottom: 10px;
}

/* =========================
   Menu Items
========================= */

.side-menu__item {
  width: 100%;

  display: block;
  position: relative;

  padding: 14px 0;

  border: 0;
  border-bottom: 1px solid rgb(36 36 36 / 12%);

  background-color: transparent;

  color: var(--dark-color);

  font-family: inherit;
  font-size: 20px;
  font-weight: 400;

  text-align: right;
  text-decoration: none;

  cursor: pointer;

  transition:
    padding-right 0.25s ease-in,
    margin-right 0.25s ease-in,
    border-bottom-color 0.25s ease-in,
    color 0.25s ease-in;
}

.side-menu__item::after {
  content: "←";
  position: absolute;
  right: 0px;
  top: 15px;
  font-size: 20px;
  font-weight: 900;
  opacity: 0;
  transform: translateX(15px);
  transition: opacity 0.25s ease-in, transform 0.25s ease-in, color 0.25s ease-in;
}


.side-menu__item:hover {
  padding-right: 30px;
  color: var(--secondary-color);
  border-bottom-color: var(--dark-color);
}

.side-menu__item:hover::after {
  opacity: 1;
  transform: translateX(0);
  color: var(--dark-color);
}


/* =========================
   Overlay
========================= */

.side-menu__overlay {
  position: fixed;

  inset: 0;

  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  border: 0;

  background-color: rgb(0 0 0 / 10%);

  backdrop-filter: blur(1.5px);

  cursor: default;

  z-index: 999;
}


@media(max-width: 767px) {

  .side-menu {
    right: 0;
  }

  .nav-menu__icon {
    width: 25px;
    height: 25px;
    right: 0px;
    /* top: 5px; */
  }

  .nav-menu__title {
    right: 10px;
  }
}