

/* =========================
   Phone Button
========================= */

.phone-button {
  width: 48px;
  height: 48px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background-color: var(--primary-color);

  border-radius: 999px;

  overflow: visible;

  text-decoration: none;

  transition:
    width 0.35s ease,
    padding 0.35s ease;
}

/* Number */
.phone-button__number {
  max-width: 0;

  opacity: 0;

  overflow: hidden;

  white-space: nowrap;

  color: var(--dark-color);

  font-size: 20px;
  font-weight: 400;

  transform: translateX(10px);

  transition: all 0.35s ease;
  margin-top: 5px;


}


/* =========================
   Icon Background
========================= */

.phone-button__icon-wrapper {
  position: relative;

  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  background-color: var(--primary-color);
}


/* =========================
   Dark Speech Bubble
========================= */

.phone-button__bubble {
  position: absolute;
  right: 3px;
  top: -3px;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-color);
  border-radius: 50%;
  z-index: 2;
  padding-inline: 10px;
  transition: all 0.35s ease;
}


/* Speech bubble tail on left */
.phone-button__bubble::after {
  content: "";
  position: absolute;
  left: 1px;
  bottom: -1px;
  width: 16px;
  height: 16px;
  background-color: var(--dark-color);

  clip-path: polygon(0 100%,
      30% 25%,
      100% 0,
      65% 75%);

  z-index: -1;
}


/* Phone icon */
.phone-button__phone-icon {
  position: relative;
  color: var(--primary-color);
  font-size: 20px;
  transform: rotate(8deg);
  z-index: 3;
  transition: all 0.35s ease;
}


/* =========================
   Hover
========================= */

.phone-button:hover,
.phone-button:focus-visible {
  width: 180px;
}


.phone-button:hover .phone-button__number,
.phone-button:focus-visible .phone-button__number {
  max-width: 120px;
  opacity: 1;
  padding-right: 15px;
  transform: translateX(-5px);
}

.phone-button:hover .phone-button__bubble,
.phone-button:focus-visible .phone-button__bubble {
  width: 32px;
  height: 32px;
  right: 10px;
  top: 2px;
}

.phone-button:hover .phone-button__phone-icon,
.phone-button:focus-visible .phone-button__phone-icon {
  font-size: 16px;
}
